@model FinalProj.Models.MovieModel

@{
    ViewData["Title"] = "AddOrUpdate";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="MovieID" type = "hidden" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="MovieName" class="control-label"></label>
                <input asp-for="MovieName" class="form-control" />
                <span asp-validation-for="MovieName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieGenre" class="control-label"></label>
                <input asp-for="MovieGenre" class="form-control" />
                <span asp-validation-for="MovieGenre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieDate" class="control-label"></label>
                <input asp-for="MovieDate" class="form-control" />
                <span asp-validation-for="MovieDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
